*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #555;
} 
.cont{
    max-height: 500px;
    min-height: 250px;
    width: 300px;
    background-color: #333;
    border: 1px solid gray;
    border-radius: 12px;
    margin: auto;
    margin-top: 250px;
}
.heading h2{
    text-align: center;
    margin-top: 30px;
    color: white;
}
input{
    height: 37px;
    width: 250px;
    background-color: rgb(179, 175, 172);
    margin-left: 25px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 5px;
    background-color: aliceblue;
    color: black;
}
input:focus{
    outline: none;

}
button{
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bolder;
    background-color: rgb(232, 75, 75);
    color: white;
    margin-top: 20px;
    margin-left: 90px;
    cursor: pointer;
}
button:active{
    width: 140px;
    margin-left: 80px;
}
p{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
}